@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

* {

    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}

p {
   margin-bottom: 0 !important;
}

body {
    font-family: 'Lato', sans-serif;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.banner--text h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(233, 45, 45);
    text-align: center;
}
.banner--text p {
    font-size: 1.2rem;
    text-align: center;
    padding: 30px;
    color: aliceblue;
}
.banner--text span {
    color: rgb(233, 45, 45);
    font-weight: bold;
}


.img--banner {
    background-image: url(../img/image\ 9.png);;
    background-size: cover;
    background-position: center;
    height: 92vh;
    position: relative;
}

.banner--text {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 44%;
}

.banner--text button {
      background-color: transparent;
      border: 2px solid #53ba72;
      padding: 10px 20px;
      border-radius: 5px;
      font-weight: 700;
      font-size: 1.2rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
}

.banner--text button:hover {
      border-color:green;
      transform: scale(1.05);
}

.banner--text button a {
   text-decoration: none;
   color: white;
   font-weight: 300;
   letter-spacing: 2px;
   padding: 0 30px;
}

.banner--text h1,p,span {
    animation:scale-up-center 1s both;
}

.nav-link {
    font-weight: 700;
    font-size: 1.1rem;
}

.btn {
    margin: 2px 10px;
    transform: scale(1.2);
    font-weight: 700;
}

.modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav__explorer {
    display: flex;
    
}

.content-body {
    text-align: justify;
    justify-content: center;
    margin-top: 60px;
    margin-left: 80px;
    padding: 0;
    color: black
}

.content-body h1 {
    font-weight:  bold;
    color: #000000;
}

.content-body p {
    font-weight:  bold;
    color: rgb(0, 0, 0);
    font-weight: 400;
}

.content-stars {
   text-align: justify;
   margin: 0;
   padding: 0;
   margin-left: 80px;
}

.p {
text-align: justify;
padding: 20px;
margin-left: 60px;
}

.subcontent-body {
   text-align: justify;
   margin-left: 80px;
}

.subcontent-body h4 {
   color: #000000;
   font-weight: bold;
}

.subcontent-body p {
   color: rgb(0, 132, 255);
}

.container__cards-main {
   display: flex;
   flex-direction: row;
   justify-content: start;
   align-items: center;
   flex-wrap: wrap;
   gap: 20px;   
   margin-top: 40px;
}

.cards__main {
   display: flex;
   margin: auto;
   flex-direction: column;
   justify-content: center;
   width: 300px;
   max-width: 410px;
   border-radius: 10px;
   box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
   transition: all 0.3s ease;
}

.cards__main button {
   width: 100%;
   height: 40px;
   border: none;
   background-color: #119F3C;
   cursor: pointer;
   outline: none;
   border-radius: 0 0 10px 10px;
   margin-top: 10px;
   
}

.cards__main a {
   font-size: 1.3rem;
   text-align: center;
   text-decoration: none;
   color: white;
   font-weight: 600;
   padding: 10px;
}

.card__img img {
   max-width: 500px;
   width: 100%;
   height: 410px;
   object-fit: cover;
   border-radius: 10px 10px 0 0;
}

.card__title h1 {
   font-size: 28px;
   font-weight: 600;;
   margin-top: 20px;
   color: #292929;
   padding-right: 30px;
   padding-left: 10px;
}

.card__infos p {
   font-weight: bold;
   color: #333;
   padding-left: 10px;
}

.card__info-day {
    background-color: #270570;
    width: 40%;
    border-radius: 10px;
    margin-left: 4px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.card__offer p {
   background-color: yellow;
   width: 40%;
   border-radius: 10px;
   margin-left: 4px;
   margin-top: 10px;
   text-align: center;
   font-weight: bold;
}
.card__price {
   margin-top: 10px;
}
.card__price p {
   padding-left: 10px;
   font-weight: bold;
   color: #333;
   padding-bottom: 1px;
}
.card__price p span {
   font-size: 3rem;
   color: #333;
}

.container__foot {
   margin-top:20px;
   background-color: #222;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.foot__content{
   text-align: center;
   color: #fff;
}

.foot__content h1{
   font-size: 24px;
   color: #fff;
   padding-top: 40px;
}
.foot__content p{
   font-size: 15px;
   color: #fff;
}

.foot__social {
   display: flex;
   flex-direction: row;
   gap: 10px;
   padding:30px 20px;
   transform: scale(1.7);
   transition: all 0.5s ease;
}

.foot__social img:hover {
   transform: scale(1.1);
}

.foot {
   font-size:15px;
   padding-bottom: 40px;
   color: #fff;
}

.video {
    flex-wrap: wrap;
    width: 100%;
    max-width: 700px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: auto;
    padding: 20px;
}

.video h1 {
    padding-top: 20px;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px;
    color: #333;
}

iframe {
    padding-top: 10px;
    width: 100%;
    
}

/**! ---------------------------------------- RESPONSIVE------------------------------------------------*/

@media (min-width: 368px){
   .container__cards-main{
      padding:0 20px;
   }
   .cards__main {
         width: 100%;
      }
}

@media (min-width: 420px){
   .container__cards-main {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;   
}

   .cards__main {
      width: 100%;
   }
}

@media (min-width: 768px) {
   .container__cards-main {
      padding: 0 100px;
   }
   .cards__main {
     transition: all 0.3s ease; 
   } 
   .cards__main:hover {
   transform: scale(1.02);
   }
   .banner--text p {
      padding: 30px 100px;
   }
} 